/* Init */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica;
  color: #f9faf8;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Global */
body {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  align-items: center;
}

.cta-btn {
  width: 200px;
  background-color: #3882f6;
  border-radius: 8px;
  border: 0;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}

.header_wrap,
.hero_wrap,
.info_wrap,
.quote_wrap,
.cta_wrap,
.footer_wrap {
  padding: 15px 60px;
  width: 100%;
}

strong {
  color: #1f2937;
}

/* Header */

.header_wrap {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
}

.header-logo {
  font-weight: bold;
  font-size: 24px;
}

.header-links_wrap {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

/* Hero */

.hero_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 70px;
  gap: 30px;
  max-width: 1200px;
}

.hero-text_wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  margin: 0;
}

.text-secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-img_wrap {
  border-radius: 8px;
  overflow: hidden;
  flex: 1;
}

/* Info section */

.info_wrap {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  color: #1f2937;
  gap: 50px;
  padding: 70px;
}

.info_wrap h2 {
  color: #1f2937;
}

.cards-list_wrap {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  color: #1f2937;
}

.card-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-img_wrap {
  aspect-ratio: 1;
  width: 160px;
  overflow: hidden;
  border-radius: 8px;
  border: 3px solid #1f2937;
}

.card-description {
  color: #1f2937;
  max-width: 160px;
  text-align: center;
}

/* Quote section */

.quote_wrap {
  background-color: #e5e7eb;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 70px;
}

.quote-text_wrap {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.quote {
  color: #1f2937;
  font-weight: 300;
  font-size: 36px;
}

.author {
  color: #1f2937;
  margin-left: auto;
  font-weight: bold;
}

/* CTA section */

.cta_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  background-color: white;
}

.cta-card_wrap {
  max-width: 1200px;
  display: flex;
  gap: 40px;
  background-color: #3882f6;
  border-radius: 4px;
  padding: 25px 50px;
}

.cta-btn.is_border {
  width: 120px;
  border: 2px solid #f9faf8;
}

/* Footer */

.footer_wrap {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer_wrap div {
  color: #f9faf8;
}
