/* Init */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica;
  color: #f9faf8;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Global */

.cta-btn {
  width: 120px;
  background-color: #3882f6;
  border-radius: 8px;
  border: 0;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}

.header_wrap,
.hero_wrap,
.info_wrap, .quote_wrap {
  padding: 15px 60px;
}

/* Header */

.header_wrap {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
}

.header-logo {
  font-weight: bold;
  font-size: 24px;
}

.header-links_wrap {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

/* Hero */

.hero_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #1f2937;
}

.hero-text_wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.text-secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-img_wrap {
  border-radius: 8px;
  overflow: hidden;
  flex: 1;
}

/* Info section */

.info_wrap h2 {
  color: #1f2937;
}

.card-description {
  color: #1f2937;
  width: 120px;
  text-align: center;
}

.info_wrap {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  color: #1f2937;
  gap: 25px;
}

.cards-list_wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: #1f2937;
  gap: 20px;
}

.card-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-img_wrap {
  aspect-ratio: 1;
  width: 120px;
  overflow: hidden;
  border-radius: 8px;
  border: 3px solid #3882f6;
}

/* Quote section */

.quote_wrap {
    background-color: #e5e7eb;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.quote {
    color: #1f2937;
    font-weight: 300;
    font-size: 36px;
}

.author {
    color: #1f2937;
    margin-left: auto;
    font-weight: bold;
    
}
